

    <section class="catalog-hero">
        <div class="container">
            <h2>Product Catalog</h2>
            <p>Explore our extensive range of laptops, desktops, and accessories.</p>
        </div>
    </section>

    <section class="catalog">
        <div class="container">
            <div class="product-grid">
                {{#if devices}}
                {{#each devices}}
                <div class="product-item">
                    <img
                        src="{{image}}">
                    <h3>{{brand}} {{model}}</h3>
                    <h2>${{price}}</h2>
                    <p>CPU: {{cpu}}</p>
                    <p>GPU: {{gpu}}</p>
                    <p>Screen: {{screenSize}}</p>
                    <a href="/offers/{{_id}}/details" class="btn">View Details</a>
                </div>
                {{/each}}
                {{else}}
                <!-- Repeat product-item divs for more products -->
                <p class="no-post">There haven't been any devices posted yet.</p>
                {{/if}}
            </div>
        </div>
    </section>

