

    <section class="edit-hero">
        <div class="container">
            <h2>Edit Product</h2>
            <p>Fill in the details below to edit a product to the catalog.</p>
        </div>
    </section>

    <section class="edit-form">
        <div class="container">
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand" value="{{device.brand}}">
                </div>
                <div class="form-group">
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" value="{{device.model}}">
                </div>
                <div class="form-group">
                    <label for="hard-disk">Hard Disk:</label>
                    <input type="text" id="hard-disk" name="hardDisk" value="{{device.hardDisk}}">
                </div>
                <div class="form-group">
                    <label for="screen-size">Screen Size:</label>
                    <input type="text" id="screen-size" name="screenSize" value="{{device.screenSize}}">
                </div>
                <div class="form-group">
                    <label for="ram">RAM:</label>
                    <input type="text" id="ram" name="ram" value="{{device.ram}}">
                </div>
                <div class="form-group">
                    <label for="operating-system">Operating System:</label>
                    <input type="text" id="operating-system" name="operatingSystem" value="{{device.operatingSystem}}">
                </div>
                <div class="form-group">
                    <label for="cpu">CPU:</label>
                    <input type="text" id="cpu" name="cpu" value="{{device.cpu}}">
                </div>
                <div class="form-group">
                    <label for="gpu">GPU:</label>
                    <input type="text" id="gpu" name="gpu" value="{{device.gpu}}">
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price" value="{{device.price}}">
                </div>
                <div class="form-group">
                    <label for="gpu">Color:</label>
                    <input type="text" id="color" name="color" value="{{device.color}}">
                </div>
                <div class="form-group">
                    <label for="gpu">Weight:</label>
                    <input type="text" id="weight" name="weight" value="{{device.weight}}">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="text" id="image" name="image" value="{{device.image}}">
                </div>
                <button type="submit" class="btn">Edit Product</button>
            </form>
        </div>
    </section>
