

    <section class="hero">
        <div class="container">
            <h2>Your One-Stop Shop for Laptops and Computers</h2>
            <p>Find the best deals on the latest laptops, desktops, and accessories.</p>
            <a href="/offers/catalog" class="btn">Shop Now</a>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h2>Featured Products</h2>
            <div class="product-grid">
                {{#if devices}}
                {{#each devices}}
                <div class="product-item">
                    <img
                        src="{{image}}">
                    <h3>{{brand}} {{model}}</h3>
                    <p>${{price}}</p>
                    <a href="/offers/{{_id}}/details" class="btn">View Details</a>
                </div>
                {{/each}}
                {{else}}
                <p class="no-post">There haven't been any devices posted yet.</p>
                {{/if}}
            </div>
        </div>


    </section>

